=link_to 'Add Idea', new_idea_path

=form_tag ideas_path, method: 'get' do
  %ul.ideaFilters.js-ideasStatusFilters
    %li.ideaFiltes-filter
      =check_box_tag 'idea_state[all_ideas]', true, @idea_state_filter_params['all_ideas'], class:'js-ideaFilter', id: 'all_ideas'
      =label_tag :all_ideas, 'All Ideas'

    -@idea_states.each do |idea_state|
      %li.ideaFiltes-filter
        =check_box_tag "idea_state[#{idea_state.to_s}]", true, @idea_state_filter_params[idea_state.to_s], class:'js-ideaFilter', id: idea_state
        =label_tag idea_state

  %ul.ideaFilters.js-ideasOfficeFilters
    -@offices.each do |office|
      %li.ideaFiltes-filter
        -html_id = office.location.parameterize.underscore
        =check_box_tag "office_ids[]", office.id, @idea_office_filter_params.include?(office.id.to_s), class:'js-ideaFilter', id: html_id
        =label_tag html_id, office.location

    = submit_tag 'filter'

-if @ideas.length
  %ul.ideasList
    -@ideas.each do |idea|
      %li.ideasList-idea
        %h4.ideasList-title= idea.title
        .ideasList-subTitle= "By #{idea.submitted_by} - #{idea.submitters_office} Office"
        .derp= idea.description
        .derp= idea.current_state
        .derp= idea.office
        %span.btn-green.btn-green-withNumber
          Upvote
          .btn-number= idea.vote_count
